# NumPy.

Імпортуйте numpy.

In [2]:
import numpy as np

##### Створіть масив з 10 нулів:

In [3]:
# ваш код тут
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

##### Створіть масив з 10 одиниць:

In [4]:
# ваш код тут
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

##### Створіть масив з 10 четвірок:

In [5]:
# ваш код тут
np.repeat(4, 10)

array([4, 4, 4, 4, 4, 4, 4, 4, 4, 4])

array([4., 4., 4., 4., 4., 4., 4., 4., 4., 4.])

##### Створіть масив з цілими числами у проміжку від 15 до 30:

In [6]:
# ваш код тут
np.arange(15, 31)

array([15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30])

array([15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30])

##### Створіть масив з непарних чисел у межах від 15 до 30:

In [7]:
# ваш код тут
np.arange(15, 31, 2)

array([15, 17, 19, 21, 23, 25, 27, 29])

array([15, 17, 19, 21, 23, 25, 27, 29])

##### Створіть матрицю 10 на 10, де числа будуть від 1 до 100:

In [8]:
# ваш код тут
arr = np.arange(1,101)
arr.reshape(10,10)

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10],
       [ 11,  12,  13,  14,  15,  16,  17,  18,  19,  20],
       [ 21,  22,  23,  24,  25,  26,  27,  28,  29,  30],
       [ 31,  32,  33,  34,  35,  36,  37,  38,  39,  40],
       [ 41,  42,  43,  44,  45,  46,  47,  48,  49,  50],
       [ 51,  52,  53,  54,  55,  56,  57,  58,  59,  60],
       [ 61,  62,  63,  64,  65,  66,  67,  68,  69,  70],
       [ 71,  72,  73,  74,  75,  76,  77,  78,  79,  80],
       [ 81,  82,  83,  84,  85,  86,  87,  88,  89,  90],
       [ 91,  92,  93,  94,  95,  96,  97,  98,  99, 100]])

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10],
       [ 11,  12,  13,  14,  15,  16,  17,  18,  19,  20],
       [ 21,  22,  23,  24,  25,  26,  27,  28,  29,  30],
       [ 31,  32,  33,  34,  35,  36,  37,  38,  39,  40],
       [ 41,  42,  43,  44,  45,  46,  47,  48,  49,  50],
       [ 51,  52,  53,  54,  55,  56,  57,  58,  59,  60],
       [ 61,  62,  63,  64,  65,  66,  67,  68,  69,  70],
       [ 71,  72,  73,  74,  75,  76,  77,  78,  79,  80],
       [ 81,  82,  83,  84,  85,  86,  87,  88,  89,  90],
       [ 91,  92,  93,  94,  95,  96,  97,  98,  99, 100]])

##### Згенеруйте матрицю, як у прикладі:

In [9]:
# ваш код тут
arr = np.arange(0.01, 1.01, 0.01)
arr.reshape(10,10)

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

##### Створіть діагональну матрицю 5 на 5:

In [3]:
# ваш код тут
np.eye(5, k=1)

array([[0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0.]])

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

##### Згенеруйте випадкове число використовуючи NumPy:

In [22]:
np.random.seed(100) # цей метод доданий, щоб числа, згенеровані випадково були однакові після декількох запусків
np.random.rand()
# ваш код тут

0.5434049417909654

0.5434049417909654

##### Згенеруйте масив з 25 випадкових чисел:

In [12]:
# ваш код тут
np.random.randn(25)

array([-0.56163876, -1.6490775 ,  0.35467445, -0.78606433, -0.2318722 ,
        0.20797568,  0.93580797,  0.17957831, -0.5771615 , -0.53337271,
       -0.22540212, -0.31491934,  0.42299678, -0.43882681, -0.50141346,
       -1.65870284, -1.0075773 , -0.50873443,  0.78148842, -0.65438103,
        0.04117247, -0.20191691, -0.87081315,  0.22893207, -0.40803994])

array([0.27836939, 0.42451759, 0.84477613, 0.00471886, 0.12156912,
       0.67074908, 0.82585276, 0.13670659, 0.57509333, 0.89132195,
       0.20920212, 0.18532822, 0.10837689, 0.21969749, 0.97862378,
       0.81168315, 0.17194101, 0.81622475, 0.27407375, 0.43170418,
       0.94002982, 0.81764938, 0.33611195, 0.17541045, 0.37283205])

##### Створіть масив, у якому 20 чисел лінійно розташовані у проміжку від 0 до 1:

In [13]:
# ваш код тут
np.linspace(0, 1, 20)

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

### Індексування.
Необхідно написати код, щоб отримати такі самі дані, як у прикладах з наперед заданої матриці.

In [15]:
matrix = np.arange(0, 25).reshape(5,5)
matrix

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [ ]:
# ваш код тут
x = np.array(matrix)
def submatrix(matrix, startRow, startCol, size):
     return matrix[startRow:startRow+size,startCol:startCol+size]

submatrix(x, 0, 3, 2)

array([[3, 4],
       [8, 9]])

array([[3, 4],
       [8, 9]])

In [17]:
# ваш код тут
rows, cols = matrix.shape
print(matrix[rows//2, cols//2])

12

12

In [18]:
# ваш код тут
matrix[2]

array([10, 11, 12, 13, 14])

array([10, 11, 12, 13, 14])

## Робота з бібліотекою Pandas.

Імпортуйте pandas.

In [19]:
import pandas as pd

### Завантаження даних у DataFrame.

In [21]:
# ваш код тут
df = pd.read_csv('Lab2/Data.csv')

Виведіть перші 10 рядочків з DataFrame.

In [22]:
# ваш код тут
df.head(10)

,RegisterDate,Points,CurrentRanking,HighestRanking,Country,Continent
0,8/23/2012,199697,1,1,Brazil,South America
1,9/7/2016,188693,2,1,NaN,NaN
2,6/24/2013,160026,3,1,NaN,NaN
3,8/24/2015,119109,4,4,Lithuania,Europe
4,4/20/2014,118149,5,5,Canada,North America
5,11/13/2012,116060,6,4,United States,North America
6,2/28/2014,114214,7,3,China,Asia
7,11/8/2015,106314,8,8,Russia,Asia
8,6/25/2010,103017,9,6,Austria,Europe
9,7/20/2016,102460,10,9,Latvia,Europe

,RegisterDate,Points,CurrentRanking,HighestRanking,Country,Continent
0,8/23/2012,199697,1,1,Brazil,South America
1,9/7/2016,188693,2,1,None,None
2,6/24/2013,160026,3,1,None,None
3,8/24/2015,119109,4,4,Lithuania,Europe
4,4/20/2014,118149,5,5,Canada,North America
5,11/13/2012,116060,6,4,United States,North America
6,2/28/2014,114214,7,3,China,Asia
7,11/8/2015,106314,8,8,Russia,Asia
8,6/25/2010,103017,9,6,Austria,Europe
9,7/20/2016,102460,10,9,Latvia,Europe

Виведіть останні 10 рядочків з DataFrame.

In [23]:
# ваш код тут
df.tail(10)

,RegisterDate,Points,CurrentRanking,HighestRanking,Country,Continent
4757,8/29/2010,20,4757,73,Colombia,South America
4758,11/11/2010,19,4758,117,NaN,NaN
4759,11/24/2011,18,4759,1081,NaN,NaN
4760,11/15/2010,16,4760,151,Israel,Asia
4761,1/17/2012,16,4761,1201,United States,North America
4762,11/24/2010,14,4762,265,Belgium,Europe
4763,1/1/2012,14,4763,1444,NaN,NaN
4764,1/9/2012,14,4764,1444,India,Asia
4765,1/15/2012,14,4765,1444,NaN,NaN
4766,1/17/2012,14,4766,1444,NaN,NaN

,RegisterDate,Points,CurrentRanking,HighestRanking,Country,Continent
4757,8/29/2010,20,4757,73,Colombia,South America
4758,11/11/2010,19,4758,117,None,None
4759,11/24/2011,18,4759,1081,None,None
4760,11/15/2010,16,4760,151,Israel,Asia
4761,1/17/2012,16,4761,1201,United States,North America
4762,11/24/2010,14,4762,265,Belgium,Europe
4763,1/1/2012,14,4763,1444,None,None
4764,1/9/2012,14,4764,1444,India,Asia
4765,1/15/2012,14,4765,1444,None,None
4766,1/17/2012,14,4766,1444,None,None

Виведіть випадкові 10 рядочків з DataFrame.

In [24]:
# ваш код тут
df.sample(10)

,RegisterDate,Points,CurrentRanking,HighestRanking,Country,Continent
211,6/1/2017,23359,212,171,NaN,NaN
3967,4/2/2012,539,3967,66,Slovenia,Europe
1989,11/14/2016,3099,1989,1474,China,Asia
4103,2/25/2013,440,4103,178,United States,North America
3168,9/6/2014,1275,3168,462,Spain,Europe
1530,2/11/2013,4311,1530,1272,India,Asia
2376,11/17/2011,2350,2376,1387,NaN,NaN
4248,1/18/2013,330,4248,316,NaN,NaN
2109,10/3/2017,2871,2109,1722,Russia,Asia
10,2/16/2011,102417,11,4,Japan,Asia

,RegisterDate,Points,CurrentRanking,HighestRanking,Country,Continent
1440,6/14/2016,4623,1440,1024,South Korea,Asia
211,6/1/2017,23359,212,171,None,None
1350,7/28/2016,4883,1350,945,None,None
2729,10/4/2016,1850,2729,2683,United States,North America
3535,11/19/2014,852,3535,1405,Czech Republic,Europe
2152,11/25/2012,2780,2152,1153,United Kingdom,Europe
1054,3/18/2011,6393,1054,40,France,Europe
4641,5/11/2012,104,4641,1273,None,None
134,12/3/2015,31905,135,120,Spain,Europe
3530,12/9/2013,857,3530,2173,None,None

Виведіть розмірність DataFrame.

In [25]:
# ваш код тут
df.shape

(4767, 6)

(4767, 6)

Виведіть назви колонок DataFrame.

In [26]:
# ваш код тут
df.columns

Index(['RegisterDate', 'Points', 'CurrentRanking', 'HighestRanking', 'Country',
       'Continent'],
      dtype='object')

Index(['RegisterDate', 'Points', 'CurrentRanking', 'HighestRanking', 'Country',
       'Continent'],
      dtype='object')

Виведіть інформацію про колонку індексів DataFrame.

In [27]:
# ваш код тут
df.index

RangeIndex(start=0, stop=4767, step=1)

RangeIndex(start=0, stop=4767, step=1)

Виведіть інформацію про типи даних елементів у DataFrame.

In [28]:
# ваш код тут
df.dtypes

RegisterDate      object
Points             int64
CurrentRanking     int64
HighestRanking     int64
Country           object
Continent         object
dtype: object

RegisterDate      object
Points             int64
CurrentRanking     int64
HighestRanking     int64
Country           object
Continent         object
dtype: object

Створіть нову колонку на основі двох існуючих.

In [42]:
# ваш код тут
df['NewColumn'] = df['CurrentRanking'] + df['HighestRanking']
df

,RegisterDate,Points,CurrentRanking,HighestRanking,Country,Continent,NewColumn
0,8/23/2012,199697,1,1,Brazil,South America,2
1,9/7/2016,188693,2,1,NaN,NaN,3
2,6/24/2013,160026,3,1,NaN,NaN,4
3,8/24/2015,119109,4,4,Lithuania,Europe,8
4,4/20/2014,118149,5,5,Canada,North America,10
...,...,...,...,...,...,...,...
4762,11/24/2010,14,4762,265,Belgium,Europe,5027
4763,1/1/2012,14,4763,1444,NaN,NaN,6207
4764,1/9/2012,14,4764,1444,India,Asia,6208
4765,1/15/2012,14,4765,1444,NaN,NaN,6209
4766,1/17/2012,14,4766,1444,NaN,NaN,6210

,RegisterDate,Points,CurrentRanking,HighestRanking,Country,Continent,NewColumn
0,8/23/2012,199697,1,1,Brazil,South America,2
1,9/7/2016,188693,2,1,None,None,3
2,6/24/2013,160026,3,1,None,None,4
3,8/24/2015,119109,4,4,Lithuania,Europe,8
4,4/20/2014,118149,5,5,Canada,North America,10
...,...,...,...,...,...,...,...
4762,11/24/2010,14,4762,265,Belgium,Europe,5027
4763,1/1/2012,14,4763,1444,None,None,6207
4764,1/9/2012,14,4764,1444,India,Asia,6208
4765,1/15/2012,14,4765,1444,None,None,6209
4766,1/17/2012,14,4766,1444,None,None,6210

Виведіть дві будь-які колонки з DataFrame.

In [30]:
# ваш код тут
df[['CurrentRanking', 'Country']]

      CurrentRanking    Country
0                  1     Brazil
1                  2        NaN
2                  3        NaN
3                  4  Lithuania
4                  5     Canada
...              ...        ...
4762            4762    Belgium
4763            4763        NaN
4764            4764      India
4765            4765        NaN
4766            4766        NaN

[4767 rows x 2 columns]

      CurrentRanking    Country
0                  1     Brazil
1                  2       None
2                  3       None
3                  4  Lithuania
4                  5     Canada
...              ...        ...
4762            4762    Belgium
4763            4763       None
4764            4764      India
4765            4765       None
4766            4766       None

[4767 rows x 2 columns]

Виведіть рядок з  будь-яким індексом DataFrame.

In [31]:
# ваш код тут
df.loc[2]

RegisterDate      6/24/2013
Points               160026
CurrentRanking            3
HighestRanking            1
Country                 NaN
Continent               NaN
NewColumn                 4
Name: 2, dtype: object

RegisterDate      8/24/2015
Points               119109
CurrentRanking            4
HighestRanking            4
Country           Lithuania
Continent            Europe
NewColumn                 8
Name: 3, dtype: object

Виведіть всі елементи DataFrame, у яких значення колонки 'Country' не є 'None'.

In [32]:
# ваш код тут
df[df['Country'].notna()]

,RegisterDate,Points,CurrentRanking,HighestRanking,Country,Continent,NewColumn
0,8/23/2012,199697,1,1,Brazil,South America,2
3,8/24/2015,119109,4,4,Lithuania,Europe,8
4,4/20/2014,118149,5,5,Canada,North America,10
5,11/13/2012,116060,6,4,United States,North America,10
6,2/28/2014,114214,7,3,China,Asia,10
...,...,...,...,...,...,...,...
4757,8/29/2010,20,4757,73,Colombia,South America,4830
4760,11/15/2010,16,4760,151,Israel,Asia,4911
4761,1/17/2012,16,4761,1201,United States,North America,5962
4762,11/24/2010,14,4762,265,Belgium,Europe,5027
4764,1/9/2012,14,4764,1444,India,Asia,6208

,RegisterDate,Points,CurrentRanking,HighestRanking,Country,Continent,NewColumn
0,8/23/2012,199697,1,1,Brazil,South America,2
3,8/24/2015,119109,4,4,Lithuania,Europe,8
4,4/20/2014,118149,5,5,Canada,North America,10
5,11/13/2012,116060,6,4,United States,North America,10
6,2/28/2014,114214,7,3,China,Asia,10
...,...,...,...,...,...,...,...
4757,8/29/2010,20,4757,73,Colombia,South America,4830
4760,11/15/2010,16,4760,151,Israel,Asia,4911
4761,1/17/2012,16,4761,1201,United States,North America,5962
4762,11/24/2010,14,4762,265,Belgium,Europe,5027
4764,1/9/2012,14,4764,1444,India,Asia,6208

Видаліть будь-який рядочок з DataFrame.

In [ ]:
# ваш код тут
df.drop(index = 0, axis = 0)

,RegisterDate,Points,CurrentRanking,HighestRanking,Country,Continent,NewColumn
1,9/7/2016,188693,2,1,NaN,NaN,3
2,6/24/2013,160026,3,1,NaN,NaN,4
3,8/24/2015,119109,4,4,Lithuania,Europe,8
4,4/20/2014,118149,5,5,Canada,North America,10
5,11/13/2012,116060,6,4,United States,North America,10
...,...,...,...,...,...,...,...
4762,11/24/2010,14,4762,265,Belgium,Europe,5027
4763,1/1/2012,14,4763,1444,NaN,NaN,6207
4764,1/9/2012,14,4764,1444,India,Asia,6208
4765,1/15/2012,14,4765,1444,NaN,NaN,6209
4766,1/17/2012,14,4766,1444,NaN,NaN,6210

,RegisterDate,Points,CurrentRanking,HighestRanking,Country,Continent,NewColumn
0,8/23/2012,199697,1,1,Brazil,South America,2
2,6/24/2013,160026,3,1,None,None,4
3,8/24/2015,119109,4,4,Lithuania,Europe,8
4,4/20/2014,118149,5,5,Canada,North America,10
5,11/13/2012,116060,6,4,United States,North America,10
...,...,...,...,...,...,...,...
4762,11/24/2010,14,4762,265,Belgium,Europe,5027
4763,1/1/2012,14,4763,1444,None,None,6207
4764,1/9/2012,14,4764,1444,India,Asia,6208
4765,1/15/2012,14,4765,1444,None,None,6209
4766,1/17/2012,14,4766,1444,None,None,6210

Видаліть будь-яку колонку з DataFrame.

In [44]:
# ваш код тут
df.drop(labels = 'NewColumn', axis = 1)

,RegisterDate,Points,CurrentRanking,HighestRanking,Country,Continent
0,8/23/2012,199697,1,1,Brazil,South America
1,9/7/2016,188693,2,1,NaN,NaN
2,6/24/2013,160026,3,1,NaN,NaN
3,8/24/2015,119109,4,4,Lithuania,Europe
4,4/20/2014,118149,5,5,Canada,North America
...,...,...,...,...,...,...
4762,11/24/2010,14,4762,265,Belgium,Europe
4763,1/1/2012,14,4763,1444,NaN,NaN
4764,1/9/2012,14,4764,1444,India,Asia
4765,1/15/2012,14,4765,1444,NaN,NaN
4766,1/17/2012,14,4766,1444,NaN,NaN

,RegisterDate,Points,CurrentRanking,HighestRanking,Country,Continent
0,8/23/2012,199697,1,1,Brazil,South America
2,6/24/2013,160026,3,1,None,None
3,8/24/2015,119109,4,4,Lithuania,Europe
4,4/20/2014,118149,5,5,Canada,North America
5,11/13/2012,116060,6,4,United States,North America
...,...,...,...,...,...,...
4762,11/24/2010,14,4762,265,Belgium,Europe
4763,1/1/2012,14,4763,1444,None,None
4764,1/9/2012,14,4764,1444,India,Asia
4765,1/15/2012,14,4765,1444,None,None
4766,1/17/2012,14,4766,1444,None,None

Виведіть рядочки, у яких значення 'CurrentRanking' є '1', '2' та '3'.

In [45]:
# ваш код тут
df[df['CurrentRanking'].isin([1, 2, 3])]

,RegisterDate,Points,CurrentRanking,HighestRanking,Country,Continent,NewColumn
0,8/23/2012,199697,1,1,Brazil,South America,2
1,9/7/2016,188693,2,1,NaN,NaN,3
2,6/24/2013,160026,3,1,NaN,NaN,4

  RegisterDate  Points  CurrentRanking  HighestRanking Country      Continent
0    8/23/2012  199697               1               1  Brazil  South America
2    6/24/2013  160026               3               1    None           None

Виведіть рядочки, у яких значення 'CurrentRanking' є '1', '2' та '3' та значення 'Country' - 'Brazil'.

In [ ]:
# ваш код тут
df[df['CurrentRanking'].isin([1, 2, 3]) & df['Country'] == 'Brazil']
#delete row with index 0

Empty DataFrame
Columns: [RegisterDate, Points, CurrentRanking, HighestRanking, Country, Continent, NewColumn]
Index: []

  RegisterDate  Points  CurrentRanking  HighestRanking Country      Continent
0    8/23/2012  199697               1               1  Brazil  South America

Для подальших завдань, створіть DataFrame, який буде містити перші 10 записів з оригінального DataFrame.

In [58]:
# ваш код тут
df_10 = df.head(10)
df_10

,RegisterDate,Points,CurrentRanking,HighestRanking,Country,Continent,NewColumn
0,8/23/2012,199697,1,1,Brazil,South America,2
1,9/7/2016,188693,2,1,NaN,NaN,3
2,6/24/2013,160026,3,1,NaN,NaN,4
3,8/24/2015,119109,4,4,Lithuania,Europe,8
4,4/20/2014,118149,5,5,Canada,North America,10
5,11/13/2012,116060,6,4,United States,North America,10
6,2/28/2014,114214,7,3,China,Asia,10
7,11/8/2015,106314,8,8,Russia,Asia,16
8,6/25/2010,103017,9,6,Austria,Europe,15
9,7/20/2016,102460,10,9,Latvia,Europe,19

Виведіть всі значення з колонки 'HighestRanking' та скільки разів вони зустрічаються.

In [60]:
# ваш код тут
df_10['HighestRanking'].value_counts()

HighestRanking
1    3
4    2
5    1
3    1
8    1
6    1
9    1
Name: count, dtype: int64

4    3
1    2
5    1
3    1
8    1
6    1
9    1
Name: HighestRanking, dtype: int64

Виведіть усі унікальні значення з колонки 'HighestRanking'.

In [61]:
# ваш код тут
df_10['HighestRanking'].unique()

array([1, 4, 5, 3, 8, 6, 9])

array([1, 4, 5, 3, 8, 6, 9])

Застосуйте функцію map до DataFrame.

In [ ]:
# ваш код тут
df_10['Country'].map('{}'.format)

0           Brazil
1              nan
2              nan
3        Lithuania
4           Canada
5    United States
6            China
7           Russia
8          Austria
9           Latvia
Name: Country, dtype: object

0           South America
2     Continent not found
3                  Europe
4           North America
5           North America
6                    Asia
7                    Asia
8                  Europe
9                  Europe
10                   Asia
Name: Continent, dtype: object

Відсортуйте дані по колонці 'HighestRanking'.

In [66]:
# ваш код тут
df_10.sort_values(['HighestRanking'], ascending = True)

,RegisterDate,Points,CurrentRanking,HighestRanking,Country,Continent,NewColumn
0,8/23/2012,199697,1,1,Brazil,South America,2
1,9/7/2016,188693,2,1,NaN,NaN,3
2,6/24/2013,160026,3,1,NaN,NaN,4
6,2/28/2014,114214,7,3,China,Asia,10
3,8/24/2015,119109,4,4,Lithuania,Europe,8
5,11/13/2012,116060,6,4,United States,North America,10
4,4/20/2014,118149,5,5,Canada,North America,10
8,6/25/2010,103017,9,6,Austria,Europe,15
7,11/8/2015,106314,8,8,Russia,Asia,16
9,7/20/2016,102460,10,9,Latvia,Europe,19

,RegisterDate,Points,CurrentRanking,HighestRanking,Country,Continent
0,8/23/2012,199697,1,1,Brazil,South America
2,6/24/2013,160026,3,1,None,None
6,2/28/2014,114214,7,3,China,Asia
3,8/24/2015,119109,4,4,Lithuania,Europe
5,11/13/2012,116060,6,4,United States,North America
10,2/16/2011,102417,11,4,Japan,Asia
4,4/20/2014,118149,5,5,Canada,North America
8,6/25/2010,103017,9,6,Austria,Europe
7,11/8/2015,106314,8,8,Russia,Asia
9,7/20/2016,102460,10,9,Latvia,Europe

Згрупуйте дані по трьох колонках.

In [70]:
# ваш код тут
df_10.groupby(['Continent','Country', 'HighestRanking']).count()

                                            RegisterDate  Points  \
Continent     Country       HighestRanking
Asia          China         3                          1       1
              Russia        8                          1       1
Europe        Austria       6                          1       1
              Latvia        9                          1       1
              Lithuania     4                          1       1
North America Canada        5                          1       1
              United States 4                          1       1
South America Brazil        1                          1       1

                                            CurrentRanking  NewColumn
Continent     Country       HighestRanking
Asia          China         3                            1          1
              Russia        8                            1          1
Europe        Austria       6                            1          1
              Latvia        9                            1          1
              Lithuania     4                            1          1
North America Canada        5                            1          1
              United States 4                            1          1
South America Brazil        1                            1          1

                                            RegisterDate  Points  \
Continent     Country       HighestRanking
Asia          China         3                          1       1
              Japan         4                          1       1
              Russia        8                          1       1
Europe        Austria       6                          1       1
              Latvia        9                          1       1
              Lithuania     4                          1       1
None          None          1                          1       1
North America Canada        5                          1       1
              United States 4                          1       1
South America Brazil        1                          1       1

                                            CurrentRanking
Continent     Country       HighestRanking
Asia          China         3                            1
              Japan         4                            1
              Russia        8                            1
Europe        Austria       6                            1
              Latvia        9                            1
              Lithuania     4                            1
None          None          1                            1
North America Canada        5                            1
              United States 4                            1
South America Brazil        1                            1

Застосуйте функції агрегації до даних.

In [71]:
# ваш код тут
df.agg({'Points': 'sum', 'HighestRanking': 'min'})

Points            26661109
HighestRanking           1
dtype: int64

Points            1241463
HighestRanking          1
dtype: int64

Застосуйте функцію `query()` до даних.

In [72]:
# ваш код тут
df.query('Points < 100')

,RegisterDate,Points,CurrentRanking,HighestRanking,Country,Continent,NewColumn
4646,11/8/2012,98,4646,526,United States,North America,5172
4647,9/12/2010,97,4647,234,Australia,Oceania,4881
4648,3/2/2012,97,4648,145,NaN,NaN,4793
4649,7/21/2010,96,4649,38,Portugal,Europe,4687
4650,1/27/2013,96,4650,701,United States,North America,5351
...,...,...,...,...,...,...,...
4762,11/24/2010,14,4762,265,Belgium,Europe,5027
4763,1/1/2012,14,4763,1444,NaN,NaN,6207
4764,1/9/2012,14,4764,1444,India,Asia,6208
4765,1/15/2012,14,4765,1444,NaN,NaN,6209
4766,1/17/2012,14,4766,1444,NaN,NaN,6210

Empty DataFrame
Columns: [RegisterDate, Points, CurrentRanking, HighestRanking, Country, Continent]
Index: []

## Робота з бібліотекою Polars.

### Імпорт бібліотеки.

In [4]:
import polars as pl

### Завантаження даних у DataFrame.

In [6]:
# ваш код тут
dfpl = pl.read_csv('./Data.csv')
dfpl

shape: (4_767, 6)
┌──────────────┬────────┬────────────────┬────────────────┬───────────┬───────────────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country   ┆ Continent     │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---       ┆ ---           │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str       ┆ str           │
╞══════════════╪════════╪════════════════╪════════════════╪═══════════╪═══════════════╡
│ 8/23/2012    ┆ 199697 ┆ 1              ┆ 1              ┆ Brazil    ┆ South America │
│ 9/7/2016     ┆ 188693 ┆ 2              ┆ 1              ┆ None      ┆ None          │
│ 6/24/2013    ┆ 160026 ┆ 3              ┆ 1              ┆ None      ┆ None          │
│ 8/24/2015    ┆ 119109 ┆ 4              ┆ 4              ┆ Lithuania ┆ Europe        │
│ 4/20/2014    ┆ 118149 ┆ 5              ┆ 5              ┆ Canada    ┆ North America │
│ …            ┆ …      ┆ …              ┆ …              ┆ …         ┆ …             │
│ 11/24/2010   ┆ 14     ┆ 4762           ┆ 265            ┆ Belgium   ┆ Europe        │
│ 1/1/2012     ┆ 14     ┆ 4763           ┆ 1444           ┆ None      ┆ None          │
│ 1/9/2012     ┆ 14     ┆ 4764           ┆ 1444           ┆ India     ┆ Asia          │
│ 1/15/2012    ┆ 14     ┆ 4765           ┆ 1444           ┆ None      ┆ None          │
│ 1/17/2012    ┆ 14     ┆ 4766           ┆ 1444           ┆ None      ┆ None          │
└──────────────┴────────┴────────────────┴────────────────┴───────────┴───────────────┘

shape: (4_767, 6)
┌──────────────┬────────┬────────────────┬────────────────┬───────────┬───────────────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country   ┆ Continent     │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---       ┆ ---           │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str       ┆ str           │
╞══════════════╪════════╪════════════════╪════════════════╪═══════════╪═══════════════╡
│ 8/23/2012    ┆ 199697 ┆ 1              ┆ 1              ┆ Brazil    ┆ South America │
│ 9/7/2016     ┆ 188693 ┆ 2              ┆ 1              ┆ None      ┆ None          │
│ 6/24/2013    ┆ 160026 ┆ 3              ┆ 1              ┆ None      ┆ None          │
│ 8/24/2015    ┆ 119109 ┆ 4              ┆ 4              ┆ Lithuania ┆ Europe        │
│ 4/20/2014    ┆ 118149 ┆ 5              ┆ 5              ┆ Canada    ┆ North America │
│ …            ┆ …      ┆ …              ┆ …              ┆ …         ┆ …             │
│ 11/24/2010   ┆ 14     ┆ 4762           ┆ 265            ┆ Belgium   ┆ Europe        │
│ 1/1/2012     ┆ 14     ┆ 4763           ┆ 1444           ┆ None      ┆ None          │
│ 1/9/2012     ┆ 14     ┆ 4764           ┆ 1444           ┆ India     ┆ Asia          │
│ 1/15/2012    ┆ 14     ┆ 4765           ┆ 1444           ┆ None      ┆ None          │
│ 1/17/2012    ┆ 14     ┆ 4766           ┆ 1444           ┆ None      ┆ None          │
└──────────────┴────────┴────────────────┴────────────────┴───────────┴───────────────┘

Виведіть перші 10 рядочків з DataFrame.

In [18]:
# ваш код тут
dfpl.head(10)

shape: (10, 6)
┌──────────────┬────────┬────────────────┬────────────────┬───────────────┬───────────────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country       ┆ Continent     │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---           ┆ ---           │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str           ┆ str           │
╞══════════════╪════════╪════════════════╪════════════════╪═══════════════╪═══════════════╡
│ 8/23/2012    ┆ 199697 ┆ 1              ┆ 1              ┆ Brazil        ┆ South America │
│ 9/7/2016     ┆ 188693 ┆ 2              ┆ 1              ┆ None          ┆ None          │
│ 6/24/2013    ┆ 160026 ┆ 3              ┆ 1              ┆ None          ┆ None          │
│ 8/24/2015    ┆ 119109 ┆ 4              ┆ 4              ┆ Lithuania     ┆ Europe        │
│ 4/20/2014    ┆ 118149 ┆ 5              ┆ 5              ┆ Canada        ┆ North America │
│ 11/13/2012   ┆ 116060 ┆ 6              ┆ 4              ┆ United States ┆ North America │
│ 2/28/2014    ┆ 114214 ┆ 7              ┆ 3              ┆ China         ┆ Asia          │
│ 11/8/2015    ┆ 106314 ┆ 8              ┆ 8              ┆ Russia        ┆ Asia          │
│ 6/25/2010    ┆ 103017 ┆ 9              ┆ 6              ┆ Austria       ┆ Europe        │
│ 7/20/2016    ┆ 102460 ┆ 10             ┆ 9              ┆ Latvia        ┆ Europe        │
└──────────────┴────────┴────────────────┴────────────────┴───────────────┴───────────────┘

shape: (10, 6)
┌──────────────┬────────┬────────────────┬────────────────┬───────────────┬───────────────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country       ┆ Continent     │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---           ┆ ---           │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str           ┆ str           │
╞══════════════╪════════╪════════════════╪════════════════╪═══════════════╪═══════════════╡
│ 8/23/2012    ┆ 199697 ┆ 1              ┆ 1              ┆ Brazil        ┆ South America │
│ 9/7/2016     ┆ 188693 ┆ 2              ┆ 1              ┆ None          ┆ None          │
│ 6/24/2013    ┆ 160026 ┆ 3              ┆ 1              ┆ None          ┆ None          │
│ 8/24/2015    ┆ 119109 ┆ 4              ┆ 4              ┆ Lithuania     ┆ Europe        │
│ 4/20/2014    ┆ 118149 ┆ 5              ┆ 5              ┆ Canada        ┆ North America │
│ 11/13/2012   ┆ 116060 ┆ 6              ┆ 4              ┆ United States ┆ North America │
│ 2/28/2014    ┆ 114214 ┆ 7              ┆ 3              ┆ China         ┆ Asia          │
│ 11/8/2015    ┆ 106314 ┆ 8              ┆ 8              ┆ Russia        ┆ Asia          │
│ 6/25/2010    ┆ 103017 ┆ 9              ┆ 6              ┆ Austria       ┆ Europe        │
│ 7/20/2016    ┆ 102460 ┆ 10             ┆ 9              ┆ Latvia        ┆ Europe        │
└──────────────┴────────┴────────────────┴────────────────┴───────────────┴───────────────┘

Виведіть останні 10 рядочків з DataFrame.

In [19]:
# ваш код тут
dfpl.tail(10)

shape: (10, 6)
┌──────────────┬────────┬────────────────┬────────────────┬───────────────┬───────────────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country       ┆ Continent     │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---           ┆ ---           │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str           ┆ str           │
╞══════════════╪════════╪════════════════╪════════════════╪═══════════════╪═══════════════╡
│ 8/29/2010    ┆ 20     ┆ 4757           ┆ 73             ┆ Colombia      ┆ South America │
│ 11/11/2010   ┆ 19     ┆ 4758           ┆ 117            ┆ None          ┆ None          │
│ 11/24/2011   ┆ 18     ┆ 4759           ┆ 1081           ┆ None          ┆ None          │
│ 11/15/2010   ┆ 16     ┆ 4760           ┆ 151            ┆ Israel        ┆ Asia          │
│ 1/17/2012    ┆ 16     ┆ 4761           ┆ 1201           ┆ United States ┆ North America │
│ 11/24/2010   ┆ 14     ┆ 4762           ┆ 265            ┆ Belgium       ┆ Europe        │
│ 1/1/2012     ┆ 14     ┆ 4763           ┆ 1444           ┆ None          ┆ None          │
│ 1/9/2012     ┆ 14     ┆ 4764           ┆ 1444           ┆ India         ┆ Asia          │
│ 1/15/2012    ┆ 14     ┆ 4765           ┆ 1444           ┆ None          ┆ None          │
│ 1/17/2012    ┆ 14     ┆ 4766           ┆ 1444           ┆ None          ┆ None          │
└──────────────┴────────┴────────────────┴────────────────┴───────────────┴───────────────┘

shape: (10, 6)
┌──────────────┬────────┬────────────────┬────────────────┬───────────────┬───────────────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country       ┆ Continent     │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---           ┆ ---           │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str           ┆ str           │
╞══════════════╪════════╪════════════════╪════════════════╪═══════════════╪═══════════════╡
│ 8/29/2010    ┆ 20     ┆ 4757           ┆ 73             ┆ Colombia      ┆ South America │
│ 11/11/2010   ┆ 19     ┆ 4758           ┆ 117            ┆ None          ┆ None          │
│ 11/24/2011   ┆ 18     ┆ 4759           ┆ 1081           ┆ None          ┆ None          │
│ 11/15/2010   ┆ 16     ┆ 4760           ┆ 151            ┆ Israel        ┆ Asia          │
│ 1/17/2012    ┆ 16     ┆ 4761           ┆ 1201           ┆ United States ┆ North America │
│ 11/24/2010   ┆ 14     ┆ 4762           ┆ 265            ┆ Belgium       ┆ Europe        │
│ 1/1/2012     ┆ 14     ┆ 4763           ┆ 1444           ┆ None          ┆ None          │
│ 1/9/2012     ┆ 14     ┆ 4764           ┆ 1444           ┆ India         ┆ Asia          │
│ 1/15/2012    ┆ 14     ┆ 4765           ┆ 1444           ┆ None          ┆ None          │
│ 1/17/2012    ┆ 14     ┆ 4766           ┆ 1444           ┆ None          ┆ None          │
└──────────────┴────────┴────────────────┴────────────────┴───────────────┴───────────────┘

Виведіть випадкові 10 рядочків з DataFrame.

In [20]:
# ваш код тут
dfpl.sample(10)

shape: (10, 6)
┌──────────────┬────────┬────────────────┬────────────────┬─────────────┬───────────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country     ┆ Continent │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---         ┆ ---       │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str         ┆ str       │
╞══════════════╪════════╪════════════════╪════════════════╪═════════════╪═══════════╡
│ 11/24/2016   ┆ 4677   ┆ 1416           ┆ 986            ┆ None        ┆ None      │
│ 2/18/2014    ┆ 192    ┆ 4453           ┆ 1326           ┆ None        ┆ None      │
│ 4/24/2014    ┆ 2645   ┆ 2222           ┆ 437            ┆ Germany     ┆ Europe    │
│ 8/9/2015     ┆ 5050   ┆ 1317           ┆ 1124           ┆ Japan       ┆ Asia      │
│ 4/3/2014     ┆ 521    ┆ 3995           ┆ 412            ┆ None        ┆ None      │
│ 5/31/2018    ┆ 3120   ┆ 1977           ┆ 1945           ┆ Belarus     ┆ Europe    │
│ 12/4/2014    ┆ 4521   ┆ 1466           ┆ 858            ┆ Netherlands ┆ Europe    │
│ 10/29/2012   ┆ 155    ┆ 4527           ┆ 674            ┆ None        ┆ None      │
│ 11/26/2014   ┆ 1897   ┆ 2692           ┆ 1083           ┆ Germany     ┆ Europe    │
│ 5/10/2016    ┆ 4022   ┆ 1636           ┆ 1598           ┆ China       ┆ Asia      │
└──────────────┴────────┴────────────────┴────────────────┴─────────────┴───────────┘

shape: (10, 6)
┌──────────────┬────────┬────────────────┬────────────────┬───────────────┬───────────────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country       ┆ Continent     │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---           ┆ ---           │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str           ┆ str           │
╞══════════════╪════════╪════════════════╪════════════════╪═══════════════╪═══════════════╡
│ 4/30/2015    ┆ 2167   ┆ 2503           ┆ 1231           ┆ Canada        ┆ North America │
│ 4/18/2016    ┆ 2554   ┆ 2268           ┆ 1739           ┆ Italy         ┆ Europe        │
│ 4/16/2012    ┆ 581    ┆ 3904           ┆ 263            ┆ None          ┆ None          │
│ 4/20/2015    ┆ 56483  ┆ 41             ┆ 19             ┆ Canada        ┆ North America │
│ 5/13/2014    ┆ 9933   ┆ 626            ┆ 626            ┆ United States ┆ North America │
│ 7/21/2015    ┆ 2485   ┆ 2305           ┆ 1175           ┆ India         ┆ Asia          │
│ 7/1/2013     ┆ 2123   ┆ 2534           ┆ 1104           ┆ Poland        ┆ Europe        │
│ 7/22/2013    ┆ 5358   ┆ 1241           ┆ 165            ┆ China         ┆ Asia          │
│ 7/2/2010     ┆ 26     ┆ 4750           ┆ 98             ┆ Canada        ┆ North America │
│ 7/3/2011     ┆ 55     ┆ 4712           ┆ 420            ┆ None          ┆ None          │
└──────────────┴────────┴────────────────┴────────────────┴───────────────┴───────────────┘

Виведіть розмірність DataFrame.

In [21]:
# ваш код тут
dfpl.shape

(4767, 6)

(4767, 6)

Виведіть назви колонок DataFrame.

In [22]:
# ваш код тут
dfpl.columns

['RegisterDate',
 'Points',
 'CurrentRanking',
 'HighestRanking',
 'Country',
 'Continent']

['RegisterDate',
 'Points',
 'CurrentRanking',
 'HighestRanking',
 'Country',
 'Continent']

Виведіть інформацію про типи даних елементів у DataFrame.

In [23]:
# ваш код тут
dfpl.dtypes

[String, Int64, Int64, Int64, String, String]

[String, Int64, Int64, Int64, String, String]

Створіть нову колонку на основі двох існуючих.

In [24]:
# ваш код тут
dfpl = dfpl.with_columns((pl.col('CurrentRanking') + pl.col('HighestRanking')).alias('Rank'))
dfpl

shape: (4_767, 7)
┌──────────────┬────────┬────────────────┬────────────────┬───────────┬───────────────┬──────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country   ┆ Continent     ┆ Rank │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---       ┆ ---           ┆ ---  │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str       ┆ str           ┆ i64  │
╞══════════════╪════════╪════════════════╪════════════════╪═══════════╪═══════════════╪══════╡
│ 8/23/2012    ┆ 199697 ┆ 1              ┆ 1              ┆ Brazil    ┆ South America ┆ 2    │
│ 9/7/2016     ┆ 188693 ┆ 2              ┆ 1              ┆ None      ┆ None          ┆ 3    │
│ 6/24/2013    ┆ 160026 ┆ 3              ┆ 1              ┆ None      ┆ None          ┆ 4    │
│ 8/24/2015    ┆ 119109 ┆ 4              ┆ 4              ┆ Lithuania ┆ Europe        ┆ 8    │
│ 4/20/2014    ┆ 118149 ┆ 5              ┆ 5              ┆ Canada    ┆ North America ┆ 10   │
│ …            ┆ …      ┆ …              ┆ …              ┆ …         ┆ …             ┆ …    │
│ 11/24/2010   ┆ 14     ┆ 4762           ┆ 265            ┆ Belgium   ┆ Europe        ┆ 5027 │
│ 1/1/2012     ┆ 14     ┆ 4763           ┆ 1444           ┆ None      ┆ None          ┆ 6207 │
│ 1/9/2012     ┆ 14     ┆ 4764           ┆ 1444           ┆ India     ┆ Asia          ┆ 6208 │
│ 1/15/2012    ┆ 14     ┆ 4765           ┆ 1444           ┆ None      ┆ None          ┆ 6209 │
│ 1/17/2012    ┆ 14     ┆ 4766           ┆ 1444           ┆ None      ┆ None          ┆ 6210 │
└──────────────┴────────┴────────────────┴────────────────┴───────────┴───────────────┴──────┘

shape: (4_767, 7)
┌──────────────┬────────┬────────────────┬────────────────┬───────────┬───────────────┬───────────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country   ┆ Continent     ┆ NewColumn │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---       ┆ ---           ┆ ---       │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str       ┆ str           ┆ i64       │
╞══════════════╪════════╪════════════════╪════════════════╪═══════════╪═══════════════╪═══════════╡
│ 8/23/2012    ┆ 199697 ┆ 1              ┆ 1              ┆ Brazil    ┆ South America ┆ 2         │
│ 9/7/2016     ┆ 188693 ┆ 2              ┆ 1              ┆ None      ┆ None          ┆ 3         │
│ 6/24/2013    ┆ 160026 ┆ 3              ┆ 1              ┆ None      ┆ None          ┆ 4         │
│ 8/24/2015    ┆ 119109 ┆ 4              ┆ 4              ┆ Lithuania ┆ Europe        ┆ 8         │
│ 4/20/2014    ┆ 118149 ┆ 5              ┆ 5              ┆ Canada    ┆ North America ┆ 10        │
│ …            ┆ …      ┆ …              ┆ …              ┆ …         ┆ …             ┆ …         │
│ 11/24/2010   ┆ 14     ┆ 4762           ┆ 265            ┆ Belgium   ┆ Europe        ┆ 5027      │
│ 1/1/2012     ┆ 14     ┆ 4763           ┆ 1444           ┆ None      ┆ None          ┆ 6207      │
│ 1/9/2012     ┆ 14     ┆ 4764           ┆ 1444           ┆ India     ┆ Asia          ┆ 6208      │
│ 1/15/2012    ┆ 14     ┆ 4765           ┆ 1444           ┆ None      ┆ None          ┆ 6209      │
│ 1/17/2012    ┆ 14     ┆ 4766           ┆ 1444           ┆ None      ┆ None          ┆ 6210      │
└──────────────┴────────┴────────────────┴────────────────┴───────────┴───────────────┴───────────┘

Виведіть дві будь-які колонки з DataFrame.

In [25]:
# ваш код тут
dfpl.select(['CurrentRanking', 'Country'])

shape: (4_767, 2)
┌────────────────┬───────────┐
│ CurrentRanking ┆ Country   │
│ ---            ┆ ---       │
│ i64            ┆ str       │
╞════════════════╪═══════════╡
│ 1              ┆ Brazil    │
│ 2              ┆ None      │
│ 3              ┆ None      │
│ 4              ┆ Lithuania │
│ 5              ┆ Canada    │
│ …              ┆ …         │
│ 4762           ┆ Belgium   │
│ 4763           ┆ None      │
│ 4764           ┆ India     │
│ 4765           ┆ None      │
│ 4766           ┆ None      │
└────────────────┴───────────┘

shape: (4_767, 2)
┌────────────────┬───────────┐
│ CurrentRanking ┆ Country   │
│ ---            ┆ ---       │
│ i64            ┆ str       │
╞════════════════╪═══════════╡
│ 1              ┆ Brazil    │
│ 2              ┆ None      │
│ 3              ┆ None      │
│ 4              ┆ Lithuania │
│ 5              ┆ Canada    │
│ …              ┆ …         │
│ 4762           ┆ Belgium   │
│ 4763           ┆ None      │
│ 4764           ┆ India     │
│ 4765           ┆ None      │
│ 4766           ┆ None      │
└────────────────┴───────────┘

Виведіть рядок з  будь-яким індексом DataFrame.

In [26]:
# ваш код тут
dfpl[2]

shape: (1, 7)
┌──────────────┬────────┬────────────────┬────────────────┬─────────┬───────────┬──────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country ┆ Continent ┆ Rank │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---     ┆ ---       ┆ ---  │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str     ┆ str       ┆ i64  │
╞══════════════╪════════╪════════════════╪════════════════╪═════════╪═══════════╪══════╡
│ 6/24/2013    ┆ 160026 ┆ 3              ┆ 1              ┆ None    ┆ None      ┆ 4    │
└──────────────┴────────┴────────────────┴────────────────┴─────────┴───────────┴──────┘

('1/17/2012', 41478, 84, 14, 'Netherlands', 'Europe', 98)

Виведіть всі елементи DataFrame, у яких значення колонки 'Country' не є 'None'.

In [27]:
# ваш код тут
dfpl.filter(pl.col('Country').is_not_null())

shape: (4_767, 7)
┌──────────────┬────────┬────────────────┬────────────────┬───────────┬───────────────┬──────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country   ┆ Continent     ┆ Rank │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---       ┆ ---           ┆ ---  │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str       ┆ str           ┆ i64  │
╞══════════════╪════════╪════════════════╪════════════════╪═══════════╪═══════════════╪══════╡
│ 8/23/2012    ┆ 199697 ┆ 1              ┆ 1              ┆ Brazil    ┆ South America ┆ 2    │
│ 9/7/2016     ┆ 188693 ┆ 2              ┆ 1              ┆ None      ┆ None          ┆ 3    │
│ 6/24/2013    ┆ 160026 ┆ 3              ┆ 1              ┆ None      ┆ None          ┆ 4    │
│ 8/24/2015    ┆ 119109 ┆ 4              ┆ 4              ┆ Lithuania ┆ Europe        ┆ 8    │
│ 4/20/2014    ┆ 118149 ┆ 5              ┆ 5              ┆ Canada    ┆ North America ┆ 10   │
│ …            ┆ …      ┆ …              ┆ …              ┆ …         ┆ …             ┆ …    │
│ 11/24/2010   ┆ 14     ┆ 4762           ┆ 265            ┆ Belgium   ┆ Europe        ┆ 5027 │
│ 1/1/2012     ┆ 14     ┆ 4763           ┆ 1444           ┆ None      ┆ None          ┆ 6207 │
│ 1/9/2012     ┆ 14     ┆ 4764           ┆ 1444           ┆ India     ┆ Asia          ┆ 6208 │
│ 1/15/2012    ┆ 14     ┆ 4765           ┆ 1444           ┆ None      ┆ None          ┆ 6209 │
│ 1/17/2012    ┆ 14     ┆ 4766           ┆ 1444           ┆ None      ┆ None          ┆ 6210 │
└──────────────┴────────┴────────────────┴────────────────┴───────────┴───────────────┴──────┘

shape: (3_500, 7)
┌──────────────┬────────┬────────────────┬────────────────┬───────────┬────────────────┬───────────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country   ┆ Continent      ┆ NewColumn │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---       ┆ ---            ┆ ---       │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str       ┆ str            ┆ i64       │
╞══════════════╪════════╪════════════════╪════════════════╪═══════════╪════════════════╪═══════════╡
│ 8/23/2012    ┆ 199697 ┆ 1              ┆ 1              ┆ Brazil    ┆ South America  ┆ 2         │
│ 8/24/2015    ┆ 119109 ┆ 4              ┆ 4              ┆ Lithuania ┆ Europe         ┆ 8         │
│ 4/20/2014    ┆ 118149 ┆ 5              ┆ 5              ┆ Canada    ┆ North America  ┆ 10        │
│ 11/13/2012   ┆ 116060 ┆ 6              ┆ 4              ┆ United    ┆ North America  ┆ 10        │
│              ┆        ┆                ┆                ┆ States    ┆                ┆           │
│ 2/28/2014    ┆ 114214 ┆ 7              ┆ 3              ┆ China     ┆ Asia           ┆ 10        │
│ …            ┆ …      ┆ …              ┆ …              ┆ …         ┆ …              ┆ …         │
│ 8/29/2010    ┆ 20     ┆ 4757           ┆ 73             ┆ Colombia  ┆ South America  ┆ 4830      │
│ 11/15/2010   ┆ 16     ┆ 4760           ┆ 151            ┆ Israel    ┆ Asia           ┆ 4911      │
│ 1/17/2012    ┆ 16     ┆ 4761           ┆ 1201           ┆ United    ┆ North America  ┆ 5962      │
│              ┆        ┆                ┆                ┆ States    ┆                ┆           │
│ 11/24/2010   ┆ 14     ┆ 4762           ┆ 265            ┆ Belgium   ┆ Europe         ┆ 5027      │
│ 1/9/2012     ┆ 14     ┆ 4764           ┆ 1444           ┆ India     ┆ Asia           ┆ 6208      │
└──────────────┴────────┴────────────────┴────────────────┴───────────┴────────────────┴───────────┘

Видаліть будь-яку колонку з DataFrame.

In [ ]:
# ваш код тут
dfpl.drop('Rank')

shape: (4_767, 6)
┌──────────────┬────────┬────────────────┬────────────────┬───────────┬───────────────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country   ┆ Continent     │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---       ┆ ---           │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str       ┆ str           │
╞══════════════╪════════╪════════════════╪════════════════╪═══════════╪═══════════════╡
│ 8/23/2012    ┆ 199697 ┆ 1              ┆ 1              ┆ Brazil    ┆ South America │
│ 9/7/2016     ┆ 188693 ┆ 2              ┆ 1              ┆ None      ┆ None          │
│ 6/24/2013    ┆ 160026 ┆ 3              ┆ 1              ┆ None      ┆ None          │
│ 8/24/2015    ┆ 119109 ┆ 4              ┆ 4              ┆ Lithuania ┆ Europe        │
│ 4/20/2014    ┆ 118149 ┆ 5              ┆ 5              ┆ Canada    ┆ North America │
│ …            ┆ …      ┆ …              ┆ …              ┆ …         ┆ …             │
│ 11/24/2010   ┆ 14     ┆ 4762           ┆ 265            ┆ Belgium   ┆ Europe        │
│ 1/1/2012     ┆ 14     ┆ 4763           ┆ 1444           ┆ None      ┆ None          │
│ 1/9/2012     ┆ 14     ┆ 4764           ┆ 1444           ┆ India     ┆ Asia          │
│ 1/15/2012    ┆ 14     ┆ 4765           ┆ 1444           ┆ None      ┆ None          │
│ 1/17/2012    ┆ 14     ┆ 4766           ┆ 1444           ┆ None      ┆ None          │
└──────────────┴────────┴────────────────┴────────────────┴───────────┴───────────────┘

shape: (4_767, 6)
┌──────────────┬────────┬────────────────┬────────────────┬───────────┬───────────────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country   ┆ Continent     │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---       ┆ ---           │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str       ┆ str           │
╞══════════════╪════════╪════════════════╪════════════════╪═══════════╪═══════════════╡
│ 8/23/2012    ┆ 199697 ┆ 1              ┆ 1              ┆ Brazil    ┆ South America │
│ 9/7/2016     ┆ 188693 ┆ 2              ┆ 1              ┆ None      ┆ None          │
│ 6/24/2013    ┆ 160026 ┆ 3              ┆ 1              ┆ None      ┆ None          │
│ 8/24/2015    ┆ 119109 ┆ 4              ┆ 4              ┆ Lithuania ┆ Europe        │
│ 4/20/2014    ┆ 118149 ┆ 5              ┆ 5              ┆ Canada    ┆ North America │
│ …            ┆ …      ┆ …              ┆ …              ┆ …         ┆ …             │
│ 11/24/2010   ┆ 14     ┆ 4762           ┆ 265            ┆ Belgium   ┆ Europe        │
│ 1/1/2012     ┆ 14     ┆ 4763           ┆ 1444           ┆ None      ┆ None          │
│ 1/9/2012     ┆ 14     ┆ 4764           ┆ 1444           ┆ India     ┆ Asia          │
│ 1/15/2012    ┆ 14     ┆ 4765           ┆ 1444           ┆ None      ┆ None          │
│ 1/17/2012    ┆ 14     ┆ 4766           ┆ 1444           ┆ None      ┆ None          │
└──────────────┴────────┴────────────────┴────────────────┴───────────┴───────────────┘

Виведіть рядочки, у яких значення 'CurrentRanking' є '1', '2' та '3'.

In [28]:
# ваш код тут
dfpl.filter(pl.col('CurrentRanking').is_in([1, 2, 3]))

shape: (3, 7)
┌──────────────┬────────┬────────────────┬────────────────┬─────────┬───────────────┬──────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country ┆ Continent     ┆ Rank │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---     ┆ ---           ┆ ---  │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str     ┆ str           ┆ i64  │
╞══════════════╪════════╪════════════════╪════════════════╪═════════╪═══════════════╪══════╡
│ 8/23/2012    ┆ 199697 ┆ 1              ┆ 1              ┆ Brazil  ┆ South America ┆ 2    │
│ 9/7/2016     ┆ 188693 ┆ 2              ┆ 1              ┆ None    ┆ None          ┆ 3    │
│ 6/24/2013    ┆ 160026 ┆ 3              ┆ 1              ┆ None    ┆ None          ┆ 4    │
└──────────────┴────────┴────────────────┴────────────────┴─────────┴───────────────┴──────┘

shape: (3, 6)
┌──────────────┬────────┬────────────────┬────────────────┬─────────┬───────────────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country ┆ Continent     │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---     ┆ ---           │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str     ┆ str           │
╞══════════════╪════════╪════════════════╪════════════════╪═════════╪═══════════════╡
│ 8/23/2012    ┆ 199697 ┆ 1              ┆ 1              ┆ Brazil  ┆ South America │
│ 9/7/2016     ┆ 188693 ┆ 2              ┆ 1              ┆ None    ┆ None          │
│ 6/24/2013    ┆ 160026 ┆ 3              ┆ 1              ┆ None    ┆ None          │
└──────────────┴────────┴────────────────┴────────────────┴─────────┴───────────────┘

Виведіть рядочки, у яких значення 'CurrentRanking' є '1', '2' та '3' та значення 'Country' - 'Brazil'.

In [29]:
# ваш код тут
dfpl.filter(pl.col('CurrentRanking').is_in([1, 2, 3])).filter(pl.col('Country') == 'Brazil')

shape: (1, 7)
┌──────────────┬────────┬────────────────┬────────────────┬─────────┬───────────────┬──────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country ┆ Continent     ┆ Rank │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---     ┆ ---           ┆ ---  │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str     ┆ str           ┆ i64  │
╞══════════════╪════════╪════════════════╪════════════════╪═════════╪═══════════════╪══════╡
│ 8/23/2012    ┆ 199697 ┆ 1              ┆ 1              ┆ Brazil  ┆ South America ┆ 2    │
└──────────────┴────────┴────────────────┴────────────────┴─────────┴───────────────┴──────┘

shape: (1, 6)
┌──────────────┬────────┬────────────────┬────────────────┬─────────┬───────────────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country ┆ Continent     │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---     ┆ ---           │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str     ┆ str           │
╞══════════════╪════════╪════════════════╪════════════════╪═════════╪═══════════════╡
│ 8/23/2012    ┆ 199697 ┆ 1              ┆ 1              ┆ Brazil  ┆ South America │
└──────────────┴────────┴────────────────┴────────────────┴─────────┴───────────────┘

Для подальших завдань, створіть DataFrame, який буде містити випадкові 10 записів з оригінального DataFrame.

In [5]:
# ваш код тут
df_10pl = dfpl.head(10)
df_10pl

shape: (10, 6)
┌──────────────┬────────┬────────────────┬────────────────┬───────────────┬───────────────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country       ┆ Continent     │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---           ┆ ---           │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str           ┆ str           │
╞══════════════╪════════╪════════════════╪════════════════╪═══════════════╪═══════════════╡
│ 8/23/2012    ┆ 199697 ┆ 1              ┆ 1              ┆ Brazil        ┆ South America │
│ 9/7/2016     ┆ 188693 ┆ 2              ┆ 1              ┆ None          ┆ None          │
│ 6/24/2013    ┆ 160026 ┆ 3              ┆ 1              ┆ None          ┆ None          │
│ 8/24/2015    ┆ 119109 ┆ 4              ┆ 4              ┆ Lithuania     ┆ Europe        │
│ 4/20/2014    ┆ 118149 ┆ 5              ┆ 5              ┆ Canada        ┆ North America │
│ 11/13/2012   ┆ 116060 ┆ 6              ┆ 4              ┆ United States ┆ North America │
│ 2/28/2014    ┆ 114214 ┆ 7              ┆ 3              ┆ China         ┆ Asia          │
│ 11/8/2015    ┆ 106314 ┆ 8              ┆ 8              ┆ Russia        ┆ Asia          │
│ 6/25/2010    ┆ 103017 ┆ 9              ┆ 6              ┆ Austria       ┆ Europe        │
│ 7/20/2016    ┆ 102460 ┆ 10             ┆ 9              ┆ Latvia        ┆ Europe        │
└──────────────┴────────┴────────────────┴────────────────┴───────────────┴───────────────┘

Виведіть всі значення з колонки 'HighestRanking' та скільки разів вони зустрічаються.

In [31]:
# ваш код тут
df_10pl['HighestRanking'].value_counts()

shape: (7, 2)
┌────────────────┬───────┐
│ HighestRanking ┆ count │
│ ---            ┆ ---   │
│ i64            ┆ u32   │
╞════════════════╪═══════╡
│ 5              ┆ 1     │
│ 9              ┆ 1     │
│ 1              ┆ 3     │
│ 8              ┆ 1     │
│ 6              ┆ 1     │
│ 3              ┆ 1     │
│ 4              ┆ 2     │
└────────────────┴───────┘

shape: (10, 2)
┌────────────────┬───────┐
│ HighestRanking ┆ count │
│ ---            ┆ ---   │
│ i64            ┆ u32   │
╞════════════════╪═══════╡
│ 616            ┆ 1     │
│ 666            ┆ 1     │
│ 865            ┆ 1     │
│ 46             ┆ 1     │
│ 2080           ┆ 1     │
│ 189            ┆ 1     │
│ 251            ┆ 1     │
│ 373            ┆ 1     │
│ 902            ┆ 1     │
│ 511            ┆ 1     │
└────────────────┴───────┘

Виведіть усі унікальні значення з колонки 'HighestRanking'.

In [32]:
# ваш код тут
df_10pl['HighestRanking'].unique()

shape: (7,)
Series: 'HighestRanking' [i64]
[
	1
	3
	4
	5
	6
	8
	9
]

shape: (10,)
Series: 'HighestRanking' [i64]
[
	46
	189
	251
	373
	511
	616
	666
	865
	902
	2080
]

Застосуйте функцію map до DataFrame.

In [18]:
# ваш код тут
def get_continent(x):
    return x if x else "Continent not found"

df_10pl.select(
    pl.col('Continent').map_elements(get_continent)
)

/var/folders/5v/6kh3vlsj5yj5ghzv78b793q00000gn/T/ipykernel_33447/671179517.py:5: MapWithoutReturnDtypeWarning: Calling `map_elements` without specifying `return_dtype` can lead to unpredictable results. Specify `return_dtype` to silence this warning.
  df_10pl.select(

shape: (10, 1)
┌───────────────┐
│ Continent     │
│ ---           │
│ str           │
╞═══════════════╡
│ South America │
│ None          │
│ None          │
│ Europe        │
│ North America │
│ North America │
│ Asia          │
│ Asia          │
│ Europe        │
│ Europe        │
└───────────────┘

shape: (10,)
Series: 'Continent' [str]
[
	"Continent not found"
	"Asia"
	"Europe"
	"North America"
	"Asia"
	"North America"
	"North America"
	"North America"
	"Continent not found"
	"Asia"
]

Відсортуйте дані по колонці 'HighestRanking'.

In [7]:
# ваш код тут
df_10pl.sort('HighestRanking')

shape: (10, 6)
┌──────────────┬────────┬────────────────┬────────────────┬───────────────┬───────────────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country       ┆ Continent     │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---           ┆ ---           │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str           ┆ str           │
╞══════════════╪════════╪════════════════╪════════════════╪═══════════════╪═══════════════╡
│ 8/23/2012    ┆ 199697 ┆ 1              ┆ 1              ┆ Brazil        ┆ South America │
│ 9/7/2016     ┆ 188693 ┆ 2              ┆ 1              ┆ None          ┆ None          │
│ 6/24/2013    ┆ 160026 ┆ 3              ┆ 1              ┆ None          ┆ None          │
│ 2/28/2014    ┆ 114214 ┆ 7              ┆ 3              ┆ China         ┆ Asia          │
│ 8/24/2015    ┆ 119109 ┆ 4              ┆ 4              ┆ Lithuania     ┆ Europe        │
│ 11/13/2012   ┆ 116060 ┆ 6              ┆ 4              ┆ United States ┆ North America │
│ 4/20/2014    ┆ 118149 ┆ 5              ┆ 5              ┆ Canada        ┆ North America │
│ 6/25/2010    ┆ 103017 ┆ 9              ┆ 6              ┆ Austria       ┆ Europe        │
│ 11/8/2015    ┆ 106314 ┆ 8              ┆ 8              ┆ Russia        ┆ Asia          │
│ 7/20/2016    ┆ 102460 ┆ 10             ┆ 9              ┆ Latvia        ┆ Europe        │
└──────────────┴────────┴────────────────┴────────────────┴───────────────┴───────────────┘

shape: (10, 6)
┌──────────────┬────────┬────────────────┬────────────────┬───────────────┬───────────────┐
│ RegisterDate ┆ Points ┆ CurrentRanking ┆ HighestRanking ┆ Country       ┆ Continent     │
│ ---          ┆ ---    ┆ ---            ┆ ---            ┆ ---           ┆ ---           │
│ str          ┆ i64    ┆ i64            ┆ i64            ┆ str           ┆ str           │
╞══════════════╪════════╪════════════════╪════════════════╪═══════════════╪═══════════════╡
│ 8/19/2012    ┆ 6464   ┆ 1040           ┆ 46             ┆ United States ┆ North America │
│ 2/5/2016     ┆ 23460  ┆ 210            ┆ 189            ┆ United States ┆ North America │
│ 11/23/2010   ┆ 45     ┆ 4727           ┆ 251            ┆ Netherlands   ┆ Europe        │
│ 12/2/2015    ┆ 15131  ┆ 380            ┆ 373            ┆ Japan         ┆ Asia          │
│ 3/23/2014    ┆ 1788   ┆ 2763           ┆ 511            ┆ United States ┆ North America │
│ 3/4/2013     ┆ 4827   ┆ 1363           ┆ 616            ┆ Japan         ┆ Asia          │
│ 4/29/2015    ┆ 7504   ┆ 879            ┆ 666            ┆ None          ┆ None          │
│ 5/22/2016    ┆ 6243   ┆ 1077           ┆ 865            ┆ None          ┆ None          │
│ 12/27/2014   ┆ 2974   ┆ 2050           ┆ 902            ┆ Thailand      ┆ Asia          │
│ 2/23/2017    ┆ 2378   ┆ 2361           ┆ 2080           ┆ United States ┆ North America │
└──────────────┴────────┴────────────────┴────────────────┴───────────────┴───────────────┘

Згрупуйте дані по трьох колонках.

In [ ]:
# ваш код тут
df_10pl.group_by(['Continent','Country', 'HighestRanking']).count()

/var/folders/5v/6kh3vlsj5yj5ghzv78b793q00000gn/T/ipykernel_33447/1718348797.py:2: DeprecationWarning: `GroupBy.count` is deprecated. It has been renamed to `len`.
  df_10pl.group_by(['Continent','Country', 'HighestRanking']).count()

shape: (9, 4)
┌───────────────┬───────────────┬────────────────┬───────┐
│ Continent     ┆ Country       ┆ HighestRanking ┆ count │
│ ---           ┆ ---           ┆ ---            ┆ ---   │
│ str           ┆ str           ┆ i64            ┆ u32   │
╞═══════════════╪═══════════════╪════════════════╪═══════╡
│ North America ┆ United States ┆ 4              ┆ 1     │
│ Asia          ┆ Russia        ┆ 8              ┆ 1     │
│ Europe        ┆ Latvia        ┆ 9              ┆ 1     │
│ South America ┆ Brazil        ┆ 1              ┆ 1     │
│ Europe        ┆ Austria       ┆ 6              ┆ 1     │
│ Asia          ┆ China         ┆ 3              ┆ 1     │
│ None          ┆ None          ┆ 1              ┆ 2     │
│ North America ┆ Canada        ┆ 5              ┆ 1     │
│ Europe        ┆ Lithuania     ┆ 4              ┆ 1     │
└───────────────┴───────────────┴────────────────┴───────┘

shape: (10, 4)
┌───────────────┬───────────────┬────────────────┬─────┐
│ Continent     ┆ Country       ┆ HighestRanking ┆ len │
│ ---           ┆ ---           ┆ ---            ┆ --- │
│ str           ┆ str           ┆ i64            ┆ u32 │
╞═══════════════╪═══════════════╪════════════════╪═════╡
│ North America ┆ United States ┆ 2080           ┆ 1   │
│ North America ┆ United States ┆ 511            ┆ 1   │
│ None          ┆ None          ┆ 666            ┆ 1   │
│ Asia          ┆ Japan         ┆ 373            ┆ 1   │
│ Asia          ┆ Japan         ┆ 616            ┆ 1   │
│ North America ┆ United States ┆ 46             ┆ 1   │
│ None          ┆ None          ┆ 865            ┆ 1   │
│ Asia          ┆ Thailand      ┆ 902            ┆ 1   │
│ North America ┆ United States ┆ 189            ┆ 1   │
│ Europe        ┆ Netherlands   ┆ 251            ┆ 1   │
└───────────────┴───────────────┴────────────────┴─────┘

Застосуйте функції агрегації до даних.

In [13]:
# ваш код тут
df_10pl.group_by('Continent').agg(
    pl.col('CurrentRanking').map_elements(lambda x: x.max() - x.min()).alias('range')
)

sys:1: MapWithoutReturnDtypeWarning: Calling `map_elements` without specifying `return_dtype` can lead to unpredictable results. Specify `return_dtype` to silence this warning.

shape: (5, 2)
┌───────────────┬───────┐
│ Continent     ┆ range │
│ ---           ┆ ---   │
│ str           ┆ i64   │
╞═══════════════╪═══════╡
│ North America ┆ 1     │
│ Asia          ┆ 1     │
│ None          ┆ 1     │
│ Europe        ┆ 6     │
│ South America ┆ 0     │
└───────────────┴───────┘

shape: (4, 2)
┌───────────────┬───────┐
│ Continent     ┆ range │
│ ---           ┆ ---   │
│ str           ┆ i64   │
╞═══════════════╪═══════╡
│ Europe        ┆ 0     │
│ None          ┆ 198   │
│ North America ┆ 2553  │
│ Asia          ┆ 1670  │
└───────────────┴───────┘