In [1]:
import sqlite3
import pandas as pd

In [4]:
# create a db
conn = sqlite3.connect('blogdb.db')
cursor = conn.cursor()

In [5]:
cursor.execute('''
CREATE TABLE posts
    (
    id INTEGER PRIMARY KEY AUTOINCREMENT, 
    title TEXT,
    content TEXT
    )
''')

In [ ]:
cursor.execute('''
    CREATE TABLE comments
    (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    post_id INTEGER,
    AUTHOR TEXT,
    content TEXT,
    FOREIGN KEY(post_id) REFERENCES posts(id)
    )
''')

In [11]:
posts = [
    ('First Post', 'This is my first post'),
    ('Second Post', 'This is my second post'),
    ('Third Post', 'This is my third post'),
    ('Fourth Post', 'This is my fourth post')
]

cursor.executemany('''
    INSERT INTO posts (title, content)
    VALUES (?, ?)
''', posts)
conn.commit()

In [ ]:
cursor.execute('''SELECT * FROM posts''')
print(f"{cursor.fetchall()}\n")

cursor.execute('''SELECT content FROM posts''')
print(f"{cursor.fetchall()}\n")

cursor.execute(''' SELECT * FROM posts WHERE id = 1''')
print(f"{cursor.fetchall()}\n")

cursor.execute('''SELECT * FROM posts WHERE title = "First Post"''')

[(1, 'First Post', 'This is my first post'), (2, 'Second Post', 'This is my second post'), (3, 'Third Post', 'This is my third post'), (4, 'Fourth Post', 'This is my fourth post')]

[('This is my first post',), ('This is my second post',), ('This is my third post',), ('This is my fourth post',)]

[(1, 'First Post', 'This is my first post')]