In [36]:
import sqlite3
import pandas as pd

In [37]:
conn = sqlite3.connect('blogdb.db')
cursor = conn.cursor()

In [38]:
cursor.execute('''
CREATE TABLE users
    (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    username TEXT,
    password TEXT,
    email TEXT,
    first_name TEXT,
    last_name TEXT,
    bio TEXT,
    age INTEGER,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    )
''')

cursor.execute('''
CREATE TABLE posts
    (
    id INTEGER PRIMARY KEY AUTOINCREMENT, 
    title TEXT,
    content TEXT,
    user_id INTEGER,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY(user_id) REFERENCES users(id)
    )
''')

cursor.execute('''
    CREATE TABLE comments
    (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    post_id INTEGER,
    author_id INTEGER,
    content TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY(post_id) REFERENCES posts(id),
    FOREIGN KEY(author_id) REFERENCES users(id)
    )
''')

In [83]:

users = [
    ('Alice', 'password123', 'alice@example.com', 'Alice', 'Smith', 'I love blogging about tech', 30),
    ('Bob', 'securepass', 'bob@example.com', 'Bob', 'Johnson', 'Photography enthusiast', 28),
    ('Charlie', 'mypassword', 'charlie@example.com', 'Charlie', 'Brown', 'Travel blogger', 35),
    ('Diana', 'dianapass', 'diana@example.com', 'Diana', 'Prince', 'Fitness and wellness coach', 29),
    ('Yurii', 'securepass', 'somemal@example.com', 'Yurii', 'Zborivskyi', 'I am a software engineer', 20),
    ('Eve', 'evepass', 'eve@example.com', 'Eve', 'Adams', 'Food blogger and chef', 32),
    ('Frank', 'frankpass', 'frank@example.com', 'Frank', 'Miller', 'Tech enthusiast and gamer', 27),
    ('Grace', 'gracepass', 'grace@example.com', 'Grace', 'Hopper', 'Coding and programming mentor', 40),
    ('Hank', 'hankpass', 'hank@example.com', 'Hank', 'Williams', 'Music producer and songwriter', 33),
    ('Ivy', 'ivypass', 'ivy@example.com', 'Ivy', 'Green', 'Nature and wildlife photographer', 26),
]

cursor.executemany('''
    INSERT INTO users (username, password, email, first_name, last_name, bio, age)
    VALUES (?, ?, ?, ?, ?, ?, ?)
''', users)
conn.commit()

posts_with_users = [
    ('My First Blog Post', 'This is the content of my first blog post.', 1),
    ('A Day in the Life', 'Today was a great day! I went to the park and had a picnic.', 2),
    ('Traveling to Japan', 'I just got back from an amazing trip to Japan!', 3),
    ('Cooking Tips', 'Here are some of my favorite cooking tips.', 4),
    ('Tech Trends 2023', 'Let\'s discuss the latest tech trends for 2023.', 5),
    ('Photography Basics', 'Learn the basics of photography with me!', 6),
    ('Fitness Journey', 'Join me on my fitness journey and share your tips!', 7),
    ('Music Production 101', 'An introduction to music production techniques.', 8),
    ('Nature Photography', 'Capturing the beauty of nature through photography.', 9),
    ('Coding for Beginners', 'A beginner\'s guide to coding and programming.', 10),
    ('My Second Blog Post', 'This is the content of my second blog post.', 11)
]

cursor.executemany('''
    INSERT INTO posts (title, content, user_id)
    VALUES (?, ?, ?)
''', posts_with_users)
conn.commit()

comments = [
    (1, 2, 'Great first post!'),
    (1, 3, 'I enjoyed reading this'),
    (2, 4, 'Thanks for sharing your day'),
    (3, 5, 'Japan is on my bucket list'),
    (4, 6, 'These cooking tips are helpful'),
    (5, 7, 'Interesting tech trends'),
    (6, 8, 'Photography tips are useful'),
    (7, 9, 'Keep up the fitness journey'),
    (8, 10, 'Music production sounds fun'),
    (9, 1, 'Beautiful nature photos'),
    (11, 2, 'Looking forward to more posts'),
]

cursor.executemany('''
    INSERT INTO comments (post_id, author_id, content)
    VALUES (?, ?, ?)
''', comments)
conn.commit()

In [ ]:
cursor.execute('''SELECT * FROM posts''')
print(f"{cursor.fetchall()}\n")

cursor.execute('''SELECT content FROM posts''')
print(f"{cursor.fetchall()}\n")

cursor.execute(''' SELECT * FROM posts WHERE id = 9''')
print(f"{cursor.fetchall()}\n")

cursor.execute('''SELECT * FROM posts WHERE title = "My First Blog Post"''')
print(f"{cursor.fetchall()}\n")

cursor.execute('''SELECT * FROM posts WHERE title LIKE "%My%"''')
print(f"{cursor.fetchall()}\n")

[(1, 'My First Blog Post', 'This is the content of my first blog post.', 1, '2025-03-31 15:14:02'), (2, 'A Day in the Life', 'Today was a great day! I went to the park and had a picnic.', 2, '2025-03-31 15:14:02'), (3, 'Traveling to Japan', 'I just got back from an amazing trip to Japan!', 3, '2025-03-31 15:14:02'), (4, 'Cooking Tips', 'Here are some of my favorite cooking tips.', 4, '2025-03-31 15:14:02'), (5, 'Tech Trends 2023', "Let's discuss the latest tech trends for 2023.", 5, '2025-03-31 15:14:02'), (6, 'Photography Basics', 'Learn the basics of photography with me!', 6, '2025-03-31 15:14:02'), (7, 'Fitness Journey', 'Join me on my fitness journey and share your tips!', 7, '2025-03-31 15:14:02'), (8, 'Music Production 101', 'An introduction to music production techniques.', 8, '2025-03-31 15:14:02'), (9, 'Nature Photography', 'Capturing the beauty of nature through photography.', 9, '2025-03-31 15:14:02'), (10, 'Coding for Beginners', "A beginner's guide to coding and programming.", 10, '2025-03-31 15:14:02'), (11, 'My Second Blog Post', 'This is the content of my second blog post.', 11, '2025-03-31 15:14:02')]

[('This is the content of my first blog post.',), ('Today was a great day! I went to the park and had a picnic.',), ('I just got back from an amazing trip to Japan!',), ('Here are some of my favorite cooking tips.',), ("Let's discuss the latest tech trends for 2023.",), ('Learn the basics of photography with me!',), ('Join me on my fitness journey and share your tips!',), ('An introduction to music production techniques.',), ('Capturing the beauty of nature through photography.',), ("A beginner's guide to coding and programming.",), ('This is the content of my second blog post.',)]

[(9, 'Nature Photography', 'Capturing the beauty of nature through photography.', 9, '2025-03-31 15:14:02')]

[(1, 'My First Blog Post', 'This is the content of my first blog post.', 1, '2025-03-31 15:14:02')]

[(1, 'My First Blog Post', 'This is the content of my first blog post.', 1, '2025-03-31 15:14:02'), (11, 'My Second Blog Post', 'This is the content of my second blog post.', 11, '2025-03-31 15:14:02')]

[(1, 1, 2, 'Great first post!', '2025-03-31 15:14:02'), (2, 1, 3, 'I enjoyed reading this', '2025-03-31 15:14:02'), (3, 2, 4, 'Thanks for sharing your day', '2025-03-31 15:14:02'), (4, 3, 5, 'Japan is on my bucket list', '2025-03-31 15:14:02'), (5, 4, 6, 'These cooking tips are helpful', '2025-03-31 15:14:02'), (6, 5, 7, 'Interesting tech trends', '2025-03-31 15:14:02'), (7, 6, 8, 'Photography tips are useful', '2025-03-31 15:14:02'), (8, 7, 9, 'Keep up the fitness journey', '2025-03-31 15:14:02'), (9, 8, 10, 'Music production sounds fun', '2025-03-31 15:14:02'), (10, 9, 1, 'Beautiful nature photos', '2025-03-31 15:14:02')]

In [64]:
cursor.execute('''SELECT created_at FROM comments ORDER BY created_at DESC''')
print(f"{cursor.fetchall()}\n")

cursor.execute('''SELECT post_id, author_id  FROM comments GROUP BY post_id''')
print(f"{cursor.fetchall()}\n")

cursor.execute('''SELECT id, post_id, content FROM comments WHERE LENGTH(content) > 20''')
print(f"{cursor.fetchall()}\n")

cursor.execute('''SELECT id FROM users WHERE age BETWEEN 20 AND 30''')
print(f"{cursor.fetchall()}\n")

[('2025-03-31 15:14:02',), ('2025-03-31 15:14:02',), ('2025-03-31 15:14:02',), ('2025-03-31 15:14:02',), ('2025-03-31 15:14:02',), ('2025-03-31 15:14:02',), ('2025-03-31 15:14:02',), ('2025-03-31 15:14:02',), ('2025-03-31 15:14:02',), ('2025-03-31 15:14:02',)]

[(1, 2), (2, 4), (3, 5), (4, 6), (5, 7), (6, 8), (7, 9), (8, 10), (9, 1)]

[(2, 1, 'I enjoyed reading this'), (3, 2, 'Thanks for sharing your day'), (4, 3, 'Japan is on my bucket list'), (5, 4, 'These cooking tips are helpful'), (6, 5, 'Interesting tech trends'), (7, 6, 'Photography tips are useful'), (8, 7, 'Keep up the fitness journey'), (9, 8, 'Music production sounds fun'), (10, 9, 'Beautiful nature photos')]

[(1,), (2,), (4,), (5,), (7,), (10,)]

In [ ]:
cursor.execute('''
    SELECT users.username, COUNT(posts.id) as post_quantity, age
    FROM users
    JOIN posts ON users.id = posts.user_id
    GROUP BY users.username
    HAVING post_quantity >= 1
    ORDER BY age DESC
''')
print(f"{cursor.fetchall()}\n")

[('Grace', 1, 40), ('Charlie', 1, 35), ('Hank', 1, 33), ('Eve', 1, 32), ('Alice', 1, 30), ('Diana', 1, 29), ('Bob', 1, 28), ('Frank', 1, 27), ('Ivy', 1, 26), ('Yurii', 1, 20)]

In [85]:
cursor.execute('''
    SELECT users.username, posts.title
    FROM users
    INNER JOIN posts ON users.id = posts.user_id
''')
print(f"{cursor.fetchall()}\n")

cursor.execute('''
    SELECT users.username, posts.title
    FROM users
    LEFT JOIN posts ON users.id = posts.user_id
''')
print(f"{cursor.fetchall()}\n")

cursor.execute('''
    SELECT posts.title, users.username 
    FROM users
    RIGHT JOIN posts ON users.id = posts.user_id
''')
print(f"{cursor.fetchall()}\n")

[('Alice', 'My First Blog Post'), ('Bob', 'A Day in the Life'), ('Charlie', 'Traveling to Japan'), ('Diana', 'Cooking Tips'), ('Yurii', 'Tech Trends 2023'), ('Eve', 'Photography Basics'), ('Frank', 'Fitness Journey'), ('Grace', 'Music Production 101'), ('Hank', 'Nature Photography'), ('Ivy', 'Coding for Beginners'), ('Alice', 'My Second Blog Post'), ('Alice', 'My First Blog Post'), ('Bob', 'A Day in the Life'), ('Charlie', 'Traveling to Japan'), ('Diana', 'Cooking Tips'), ('Yurii', 'Tech Trends 2023'), ('Eve', 'Photography Basics'), ('Frank', 'Fitness Journey'), ('Grace', 'Music Production 101'), ('Hank', 'Nature Photography'), ('Ivy', 'Coding for Beginners'), ('Alice', 'My Second Blog Post')]

[('Alice', 'My First Blog Post'), ('Alice', 'My First Blog Post'), ('Bob', 'A Day in the Life'), ('Bob', 'A Day in the Life'), ('Charlie', 'Traveling to Japan'), ('Charlie', 'Traveling to Japan'), ('Diana', 'Cooking Tips'), ('Diana', 'Cooking Tips'), ('Yurii', 'Tech Trends 2023'), ('Yurii', 'Tech Trends 2023'), ('Eve', 'Photography Basics'), ('Eve', 'Photography Basics'), ('Frank', 'Fitness Journey'), ('Frank', 'Fitness Journey'), ('Grace', 'Music Production 101'), ('Grace', 'Music Production 101'), ('Hank', 'Nature Photography'), ('Hank', 'Nature Photography'), ('Ivy', 'Coding for Beginners'), ('Ivy', 'Coding for Beginners'), ('Alice', 'My Second Blog Post'), ('Alice', 'My Second Blog Post'), ('Bob', None), ('Charlie', None), ('Diana', None), ('Yurii', None), ('Eve', None), ('Frank', None), ('Grace', None), ('Hank', None), ('Ivy', None)]

[('My First Blog Post', 'Alice'), ('My First Blog Post', 'Alice'), ('A Day in the Life', 'Bob'), ('A Day in the Life', 'Bob'), ('Traveling to Japan', 'Charlie'), ('Traveling to Japan', 'Charlie'), ('Cooking Tips', 'Diana'), ('Cooking Tips', 'Diana'), ('Tech Trends 2023', 'Yurii'), ('Tech Trends 2023', 'Yurii'), ('Photography Basics', 'Eve'), ('Photography Basics', 'Eve'), ('Fitness Journey', 'Frank'), ('Fitness Journey', 'Frank'), ('Music Production 101', 'Grace'), ('Music Production 101', 'Grace'), ('Nature Photography', 'Hank'), ('Nature Photography', 'Hank'), ('Coding for Beginners', 'Ivy'), ('Coding for Beginners', 'Ivy'), ('My Second Blog Post', 'Alice'), ('My Second Blog Post', 'Alice')]