# Лабораторна робота №8. Аналiз класифiкацiї текстових даних iз використанням TF-IDF матрицi.

Для цієї лабораторної роботи буде використано набір даних [відгуків на Yelp](https://www.kaggle.com/c/yelp-recsys-2013).

Набір містить декілька колонок:
* 'stars' - це число (від 1 до 5), яке призначається користувачем бізнесу;
* 'cool' - кількість голосів 'cool', отриманих від користувачів. За таким самим принципом працюють 'useful' та 'funny' колонки.

## Імпорт бібліотек.

## Дані.
### Завантажте дані з файлу у датафрейм та дослідіть їх.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  10000 non-null  object
 1   date         10000 non-null  object
 2   review_id    10000 non-null  object
 3   stars        10000 non-null  int64
 4   text         10000 non-null  object
 5   type         10000 non-null  object
 6   user_id      10000 non-null  object
 7   cool         10000 non-null  int64
 8   useful       10000 non-null  int64
 9   funny        10000 non-null  int64
dtypes: int64(4), object(6)
memory usage: 781.4+ KB

              stars          cool        useful         funny
count  10000.000000  10000.000000  10000.000000  10000.000000
mean       3.777500      0.876800      1.409300      0.701300
std        1.214636      2.067861      2.336647      1.907942
min        1.000000      0.000000      0.000000      0.000000
25%        3.000000      0.000000      0.000000      0.000000
50%        4.000000      0.000000      1.000000      0.000000
75%        5.000000      1.000000      2.000000      1.000000
max        5.000000     77.000000     76.000000     57.000000

## Розробка властивостей.
### Створіть нову колонку у датафреймі, у якій запишіть кількість слів у відповідному відгуку.

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny,text length
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0,889
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0,1345
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0,76
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0,419
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0,469

## Аналіз даних.

### Дослідіть залежність оцінки, яку поставив користувач (stars) від кількості слів. (Використайте гістограми).

### Використовуючи графік, дослідіть кількість оцінок у датасеті.

## Класифікація без TF-IDF.

### Створіть два об'єкт `X` та `y`. У `Х` запишіть повідомлення, які після обробки будуть подаватись на вхід моделі. У `у` запишіть кількість зірок, які користувачі ставили бізнесам.

### Створіть об'єкт __CountVectorizer__.

### Перетворіть текстові дані у вектори.

### Розділіть дані на тестовий та тренувальний набори.

### Створіть об'єкт класифікатора.

### Натренуйте модель.

MultinomialNB()

### Зробіть передбачення.

### Оцініть роботу класифікатора з використанням матриці конфузії та звіту класифікації.

[[ 57  35  12  79  37]
 [ 12  20  33 180  28]
 [  6   8  36 350  43]
 [  6   4  21 775 258]
 [  5   5   9 446 535]]


              precision    recall  f1-score   support

           1       0.66      0.26      0.37       220
           2       0.28      0.07      0.12       273
           3       0.32      0.08      0.13       443
           4       0.42      0.73      0.54      1064
           5       0.59      0.54      0.56      1000

    accuracy                           0.47      3000
   macro avg       0.46      0.34      0.34      3000
weighted avg       0.47      0.47      0.43      3000

## Класифікація з TF-IDF та pipeline.

### Створіть об'єкт pipeline з відповідними кроками. Використайте у одному з кроків TF-IDF.

### Перестворіть об'єкти `X` та `y` з тими самим даними. Розділіть дані на тестові та тренувальні.

### Натренуйте модель використовуючи pipeline.

Pipeline(steps=[('bow', CountVectorizer()), ('tfidf', TfidfTransformer()),
                ('classifier', MultinomialNB())])

### Зробіть передачення використовуючи pipeline.

### Оцініть роботу класифікатора з використанням матриці конфузії та звіту класифікації.

[[  0   0   0 187  33]
 [  0   0   0 266   7]
 [  0   0   1 422  20]
 [  0   0   0 974  90]
 [  0   0   0 708 292]]
              precision    recall  f1-score   support

           1       0.00      0.00      0.00       220
           2       0.00      0.00      0.00       273
           3       1.00      0.00      0.00       443
           4       0.38      0.92      0.54      1064
           5       0.66      0.29      0.40      1000

    accuracy                           0.42      3000
   macro avg       0.41      0.24      0.19      3000
weighted avg       0.50      0.42      0.33      3000

E:\Anaconda\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
E:\Anaconda\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
E:\Anaconda\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

### Зробіть висновок про ефективність роботи TF-IDF для цього набору даних.