# Лабораторна робота #7.
## Класифікація.

#### Імпортуйте необхідні бібліотеки.

## Дані.

#### Зчитайте дані з файлу `advertising.csv` у датафрейм `advertising` та перевірте датафрейм переглянувши перші 5 записів у ньому.

In [ ]:
# ваш код тут

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

У цій частині лабораторної роботи завданням є класифікація записів по полю `Clicked on Ad`, тобто чи натиснув користувач на рекламу на сайті.

#### Виведіть інформацію про датафрейм  `advertising`.

In [ ]:
# ваш код тут

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   object
 9   Clicked on Ad             1000 non-null   int64
dtypes: float64(3), int64(3), object(4)
memory usage: 78.2+ KB

In [ ]:
# ваш код тут

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Clicked on Ad
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,65.000200,36.009000,55000.000080,180.000100,0.481000,0.50000
std,15.853615,8.785562,13414.634022,43.902339,0.499889,0.50025
min,32.600000,19.000000,13996.500000,104.780000,0.000000,0.00000
25%,51.360000,29.000000,47031.802500,138.830000,0.000000,0.00000
50%,68.215000,35.000000,57012.300000,183.130000,0.000000,0.50000
75%,78.547500,42.000000,65470.635000,218.792500,1.000000,1.00000
max,91.430000,61.000000,79484.800000,269.960000,1.000000,1.00000

## Попередня обробка даних.

#### Видаліть з датафрейму стовпчики, які не мають подаватись на вхід моделі.

## Поділ даних на тестовий та тренувальні набори.

#### Створіть тестовий та тренувальний набори даних з датафрейму `advertising`. Задайте параметр `random_state=101`.

#### Виведіть 5 перших записів у тестових та тренувальних наборах даних:

X_train:

In [ ]:
# ваш код тут

     Daily Time Spent on Site  Age  Area Income  Daily Internet Usage  Male
290                     50.52   31     72270.88                171.62     0
167                     86.06   31     53767.12                219.72     1
486                     83.97   40     66291.67                158.42     1
683                     76.83   28     67990.84                192.81     0
876                     67.39   44     51257.26                107.19     0

X_test:

In [ ]:
# ваш код тут

     Daily Time Spent on Site  Age  Area Income  Daily Internet Usage  Male
545                     42.60   55     55121.65                168.29     0
298                     80.39   31     66269.49                214.74     0
109                     74.02   32     72272.90                210.54     0
837                     55.77   49     55942.04                117.33     1
194                     77.20   33     49325.48                254.05     1

y_train:

In [ ]:
# ваш код тут

290    1
167    0
486    0
683    0
876    1
Name: Clicked on Ad, dtype: int64

y_test:

In [ ]:
# ваш код тут

545    1
298    0
109    0
837    1
194    0
Name: Clicked on Ad, dtype: int64

## Логістична регресійна модель.

#### Створіть логістичну модель.

In [ ]:
# ваш код тут

LogisticRegression()

#### Натренуйте створену модель.

In [ ]:
# ваш код тут

LogisticRegression()

#### Класифікуйте тестові дані.

In [ ]:
# ваш код тут

array([1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

#### Виведіть матрицю конфузії моделі:

In [ ]:
# ваш код тут

[[149   8]
 [ 14 129]]

#### Виведіть характеристики моделі:

In [ ]:
# ваш код тут

              precision    recall  f1-score   support

           0       0.91      0.95      0.93       157
           1       0.94      0.90      0.92       143

    accuracy                           0.93       300
   macro avg       0.93      0.93      0.93       300
weighted avg       0.93      0.93      0.93       300

##  K найближчих сусідів.

#### Створіть модель.

In [ ]:
# ваш код тут

KNeighborsClassifier(n_neighbors=1)

#### Натренуйте модель.

In [ ]:
# ваш код тут

KNeighborsClassifier(n_neighbors=1)

#### Класифікуйте тестові дані.

In [ ]:
# ваш код тут

E:\Anaconda\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

array([0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0], dtype=int64)

#### Виведіть матрицю конфузії моделі:

In [ ]:
# ваш код тут

[[127  30]
 [ 31 112]]

#### Виведіть характеристики моделі:

In [ ]:
# ваш код тут

              precision    recall  f1-score   support

           0       0.80      0.81      0.81       157
           1       0.79      0.78      0.79       143

    accuracy                           0.80       300
   macro avg       0.80      0.80      0.80       300
weighted avg       0.80      0.80      0.80       300

## Алгоритм опорних векторів.

#### Створіть модель. Задайте значення праметру `random_state=101`.

In [ ]:
# ваш код тут

SVC(kernel='linear', random_state=101)

#### Натренуйте модель.

In [ ]:
# ваш код тут

SVC(kernel='linear', random_state=101)

#### Класифікуйте тестові дані.

In [ ]:
# ваш код тут

array([1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

#### Виведіть матрицю конфузії моделі.

In [ ]:
# ваш код тут

[[127  30]
 [ 31 112]]

#### Виведіть характеристики моделі.

In [ ]:
# ваш код тут

              precision    recall  f1-score   support

           0       0.80      0.81      0.81       157
           1       0.79      0.78      0.79       143

    accuracy                           0.80       300
   macro avg       0.80      0.80      0.80       300
weighted avg       0.80      0.80      0.80       300

## Алгортим машинного навчання на дереві прийняття рішень.

#### Створіть модель. Задайте значення праметру `random_state=101`.

In [ ]:
# ваш код тут

DecisionTreeClassifier(criterion='entropy', random_state=101)

#### Натренуйте модель.

In [ ]:
# ваш код тут

DecisionTreeClassifier(criterion='entropy', random_state=101)

#### Класифікуйте тестові дані.

In [ ]:
# ваш код тут

array([1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

#### Виведіть матрицю конфузії моделі.

In [ ]:
# ваш код тут

[[148   9]
 [  8 135]]

#### Виведіть характеристики моделі.

In [ ]:
# ваш код тут

              precision    recall  f1-score   support

           0       0.95      0.94      0.95       157
           1       0.94      0.94      0.94       143

    accuracy                           0.94       300
   macro avg       0.94      0.94      0.94       300
weighted avg       0.94      0.94      0.94       300

## Наївний Баєсівський класифікатор.

#### Створіть модель. Задайте значення праметру `random_state=101`.

In [ ]:
# ваш код тут

GaussianNB()

#### Натренуйте модель.

In [ ]:
# ваш код тут

GaussianNB()

#### Класифікуйте тестові дані.

In [ ]:
# ваш код тут

array([1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

#### Виведіть матрицю конфузії моделі.

In [ ]:
# ваш код тут

[[154   3]
 [  5 138]]

#### Виведіть характеристики моделі.

In [ ]:
# ваш код тут

              precision    recall  f1-score   support

           0       0.97      0.98      0.97       157
           1       0.98      0.97      0.97       143

    accuracy                           0.97       300
   macro avg       0.97      0.97      0.97       300
weighted avg       0.97      0.97      0.97       300

#### Зробіть висновок, який алгоритм найкраще підходить для роботи з даними `advertising`.

## Регресія.

У цій частині лабораторної роботи будуть використані дані певного інтернет магазину. Завдання лабораторної:
1. Передбачити, скільки грошей витратить в рік користувач (колонка 'Yearly Amount Spent' у даних) використовуючи різні регресійні моделі;
2. З допомогою множинної лінійної регресії визначити на чому компанії краще зосередити свої зусилля: розробка мобільного додатку, чи веб-сайту?

## Імпорт бібліотек.

In [ ]:
# ваш код тут

## Дані.

### Завантажте дані з файлу `Ecommerce Customers.csv` у датафрейм.

In [ ]:
# ваш код тут

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

### Розділіть дані на тестовий та тренувальний набори.

In [ ]:
# ваш код тут

In [ ]:
# ваш код тут

In [ ]:
# ваш код тут

## Множинна лінійна регресія.

### Створіть модель та натренуйте модель.

In [ ]:
# ваш код тут

LinearRegression()

### Спрогнозуйте значення річних витрат для тестових даних.

In [ ]:
# ваш код тут

### Оцініть модель.

MAE: 7.228148653430841
MSE: 79.81305165097457
RMSE: 8.93381506697864

### Ствріть новий датафрейм, у якому як дані використайте поле LinearRegression.coef_, а як стовпці - стовпці з датафрейму даних. Виведіть значення цих коефіцієнтів та зробіть висновок, на чому краще зосередитись компанії.

In [ ]:
# ваш код тут

                      Coeffecient
Avg. Session Length     25.981550
Time on App             38.590159
Time on Website          0.190405
Length of Membership    61.279097

## Поліноміальна лінійна регресія.

### Створіть та натренуйте модель.

In [ ]:
# ваш код тут

LinearRegression()

### Спрогнозуйте значення річних витрат для тестових даних.

In [ ]:
# ваш код тут

## Опорна векторна регресія.

### Промасштабуйте дані.

In [ ]:
# ваш код тут

In [ ]:
# ваш код тут

### Створіть та натренуйте модель.

In [ ]:
# ваш код тут

SVR()

### Спрогнозуйте значення річних витрат для тестових даних.

In [ ]:
# ваш код тут

## Регресія з деревами прийняття рішень.

### Створіть та натренуйте модель.

In [ ]:
# ваш код тут

DecisionTreeRegressor(random_state=101)

### Спрогнозуйте значення річних витрат для тестових даних.

In [ ]:
# ваш код тут